// ul {
//    list-style-image: url("logo.jpg");
//    list-style-position: inside;
// }

// h1
// 	font-size 30px

.row
	margin 0

.no-margin
	margin 0

.full-height
	height 100vh



#page-options
	// background #333

#principal
	overflow hidden

	.home
		align-items center
		background grey
		display flex
		flex-direction column
		height (100vh)
		padding-bottom -80px
		position relative

		h1, h3
			position relative
			top 15%

		h1
			letter-spacing 2px
			// margin 10% 0 0 0
			
			z-index 10
			&::first-letter
				font-size 1.3em

		h3
			font-size 1.3em
			font-weight 550
			z-index 10

		.bg-img
			height 100%
			width 100%
			position absolute
			background-size cover
			background-position center

		.btn
			font-size 1.3em
			background-color transparent
			border 1px solid rgb(33,33,33)
			padding 0.7em 1.7em
			position relative
			top 25%

	#nav
		height 80px
		padding 25px 0 0 0
		position absolute
		width 100%
		background white
		z-index 10

		div
			height 30px

		.nav-contact
			padding 0
			a
				background-color: rgb( 255, 210, 0 )
				border-radius 10px
				color rgb( 33, 33, 33 )
				display inline-block
				margin -7px 0 0 0
				padding 0.5em 10%
				position relative
				white-space nowrap
				&:before
					border-top 2px dotted rgb( 33, 33, 33 )
					bottom 24%
					content ''
					left 10%
					margin 0 20px
					position absolute
					width 62%
				&:hover
					text-decoration none

		.nav-log
			.box-border
				border-bottom 2px solid black
				border-right 2px solid black
				border-top 2px solid black
				left 35%
				margin -6px 0 0 0
				position relative
				width 27px

				svg
					cursor pointer
					left -9px
					padding-top 12px
					position absolute

					line
						display inline-block
						stroke black
						stroke-width 1.5px

		.nav-menu
			padding 0.3em 0 0 0

			svg
				border-bottom 1.5px solid black
				border-top 1px solid black
				cursor pointer
				margin 0 0 0 25%
				padding-top 8px

				line
					stroke black
					stroke-width 1.5px

		.nav-title
			font-weight bold
			padding 0
			p
				color black
				font-size 20px
				white-space nowrap
				img
					height 19px
					position relative
					top -2px
					width 19px


@media only screen and (max-width 700px)

	#principal
		
		.home
			top 5%
			h1
				font-size 2em

			h3
				top 8%

			.btn
				top 15%

		#nav
			.nav-contact
				left -2%





@media only screen and (max-width 400px)

	#principal
		.home

			h1
				font-size 2em
			
			.bg-img
				//
		#nav
			font-size 0.8em

			.nav-contact
				top 7px
				left -3px

			.nav-log
				left -2px