.row {
  margin: 0;
}
.no-margin {
  margin: 0;
}
.full-height {
  height: 100vh;
}
#principal {
  overflow: hidden;
}
#principal .home {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #808080;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  padding-bottom: -80px;
  position: relative;
}
#principal .home h1,
#principal .home h3 {
  position: relative;
  top: 15%;
}
#principal .home h1 {
  letter-spacing: 2px;
  z-index: 10;
}
#principal .home h1::first-letter {
  font-size: 1.3em;
}
#principal .home h3 {
  font-size: 1.3em;
  font-weight: 550;
  z-index: 10;
}
#principal .home .bg-img {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}
#principal .home .btn {
  font-size: 1.3em;
  background-color: transparent;
  border: 1px solid #212121;
  padding: 0.7em 1.7em;
  position: relative;
  top: 25%;
}
#principal #nav {
  height: 80px;
  padding: 25px 0 0 0;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 10;
}
#principal #nav div {
  height: 30px;
}
#principal #nav .nav-contact {
  padding: 0;
}
#principal #nav .nav-contact a {
  background-color: #ffd200;
  border-radius: 10px;
  color: #212121;
  display: inline-block;
  margin: -7px 0 0 0;
  padding: 0.5em 10%;
  position: relative;
  white-space: nowrap;
}
#principal #nav .nav-contact a:before {
  border-top: 2px dotted #212121;
  bottom: 24%;
  content: '';
  left: 10%;
  margin: 0 20px;
  position: absolute;
  width: 62%;
}
#principal #nav .nav-contact a:hover {
  text-decoration: none;
}
#principal #nav .nav-log .box-border {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  left: 35%;
  margin: -6px 0 0 0;
  position: relative;
  width: 27px;
}
#principal #nav .nav-log .box-border svg {
  cursor: pointer;
  left: -9px;
  padding-top: 12px;
  position: absolute;
}
#principal #nav .nav-log .box-border svg line {
  display: inline-block;
  stroke: #000;
  stroke-width: 1.5px;
}
#principal #nav .nav-menu {
  padding: 0.3em 0 0 0;
}
#principal #nav .nav-menu svg {
  border-bottom: 1.5px solid #000;
  border-top: 1px solid #000;
  cursor: pointer;
  margin: 0 0 0 25%;
  padding-top: 8px;
}
#principal #nav .nav-menu svg line {
  stroke: #000;
  stroke-width: 1.5px;
}
#principal #nav .nav-title {
  font-weight: bold;
  padding: 0;
}
#principal #nav .nav-title p {
  color: #000;
  font-size: 20px;
  white-space: nowrap;
}
#principal #nav .nav-title p img {
  height: 19px;
  position: relative;
  top: -2px;
  width: 19px;
}
@media only screen and (max-width: 700px) {
  #principal .home {
    top: 5%;
  }
  #principal .home h1 {
    font-size: 2em;
  }
  #principal .home h3 {
    top: 8%;
  }
  #principal .home .btn {
    top: 15%;
  }
  #principal #nav .nav-contact {
    left: -2%;
  }
}
@media only screen and (max-width: 400px) {
  #principal .home h1 {
    font-size: 2em;
  }
  #principal #nav {
    font-size: 0.8em;
  }
  #principal #nav .nav-contact {
    top: 7px;
    left: -3px;
  }
  #principal #nav .nav-log {
    left: -2px;
  }
}
