.dashed-line {
  height: 20px;
  left: 134px;
  position: absolute;
  top: 50px;
  width: 130px;
  border-bottom: 5px dashed #ffd200;
}
.row {
  margin: 0;
}
.no-margin {
  margin: 0;
}
.full-height {
  height: 100vh;
}
footer {
  background: #ffd200;
  height: 300px;
  overflow: auto;
}
footer #foot-info {
  margin: 4em auto 0;
  min-width: 1020px;
  width: 80%;
}
footer #foot-info .network-solution .solution {
  border: 2px solid #ffd200;
  position: absolute;
  right: 0;
  width: 185px;
}
footer #foot-info .solutions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
footer #foot-info .solutions .solution {
  display: inline-block;
  border-top: 1px solid #000;
  font-size: 1.1em;
  height: 200px;
  margin: 0 2em;
  min-width: 185px;
  padding: 0 1.5em;
}
footer #foot-info .solutions .solution p {
  letter-spacing: 1px;
}
#adventages {
  background-color: #f3f0e7;
  margin: 0;
  padding: 0.5em 0 0 0;
  position: relative;
}
#adventages h3 {
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0;
}
#adventages h3::first-letter {
  font-size: 1.2em;
}
#adventages .btn {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(225,26,39,0.8);
  border: 1px solid rgba(225,26,39,0.2);
  bottom: -30px;
  color: rgba(255,255,255,0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: columns;
  -ms-flex-direction: columns;
  flex-direction: columns;
  font-size: 1.3em;
  margin: 0 auto;
  padding: 0.7em 1.7em;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#adventages .btn:hover {
  border: 1px solid rgba(13,13,13,0.2);
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
#adventages .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2em auto 1em;
  overflow-x: auto;
  width: 80%;
}
#adventages .content .adventage {
  height: 390px;
  margin: 0 auto;
  min-width: 300px;
  width: 300px;
}
#adventages .content .adventage:hover {
  border: 1px solid rgba(243,240,231,0.2);
  -webkit-box-shadow: inset -3px -4px 15px rgba(0,0,0,0.2);
  box-shadow: inset -3px -4px 15px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
#adventages .content .adventage img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 250px;
}
#adventages .content .adventage h4 {
  font-size: 1.3em;
}
#adventages .content .adventage p {
  margin: 0;
  padding: 0.4em;
}
#information {
  height: 90vh;
  position: relative;
  top: -10vh;
}
#information .solutions {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: auto;
  padding: 0.5em 0 0 1.2em;
  z-index: 0;
}
#information .solutions .margined {
  margin: 0 10%;
}
#information .solutions .solution {
  height: 300px;
  min-height: 300px;
  min-width: 310px;
  width: 310px;
}
#information .solutions .solution .content {
  background: #f7f0e6;
  border-radius: 0 0 15px 15px;
  border-top: 7px solid #fff;
  font-size: 1.1em;
  height: 237px;
  padding: 1.7em;
  text-align: left;
}
#information .solutions .solution p span {
  color: #f00;
  font-weight: bold;
  font-size: 1.2em;
}
#information .solutions .solution .title {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ffd200;
  border-radius: 15px 15px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 66px;
}
#information .solutions .solution .title h4 {
  font-size: 1.7em;
  letter-spacing: 5px;
  margin: 0 auto;
}
#information .solutions .solution .title h4::first-letter {
  font-size: 1.5em;
}
#information .btn-container {
  bottom: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#information .btn-container .btn {
  background-color: rgba(225,26,39,0.8);
  border: 1px solid rgba(225,26,39,0.2);
  color: rgba(255,255,255,0.9);
  font-size: 1.3em;
  padding: 0.7em 1.7em;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#information .btn-container .btn:hover {
  border: 1px solid rgba(13,13,13,0.2);
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
#page-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 350px;
  position: relative;
}
#page-options .options {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}
#page-options .options .option {
  height: 250px;
  margin: 0 58px;
  min-width: 145px;
  padding: 0;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 145px;
  border: 1px solid rgba(255,210,0,0);
}
#page-options .options .option div {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 5px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 137px;
  max-height: 100%;
  max-width: 95%;
  width: 137px;
}
#page-options .options .option div img {
  display: block;
  height: 48px;
  margin: 0 auto;
  width: 52px;
}
#page-options .options .option .description {
  display: block;
  margin: 0 auto;
  font-size: 1.5em;
  max-width: 134px;
  padding: 1em 0 0 0;
}
#principal {
  overflow: hidden;
}
#principal .home {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  padding-bottom: -80px;
  position: relative;
}
#principal .home h1,
#principal .home h3 {
  position: relative;
  top: 15%;
}
#principal .home h1 {
  letter-spacing: 2px;
  z-index: 10;
}
#principal .home h1::first-letter {
  font-size: 1.3em;
}
#principal .home h3 {
  font-size: 1.3em;
  font-weight: 550;
  z-index: 10;
}
#principal .home .bg-img {
  background-position: center;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}
#principal .home .btn {
  background-color: transparent;
  border: 1px solid rgba(33,33,33,0.3);
  font-size: 1.3em;
  padding: 0.7em 1.7em;
  position: relative;
  top: 25%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#principal .home .btn:hover {
  border: 1px solid rgba(13,13,13,0.2);
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
#principal #nav {
  background: #fff;
  height: 80px;
  padding: 25px 0 0 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}
#principal #nav div {
  height: 30px;
}
#principal #nav .nav-contact {
  padding: 0;
}
#principal #nav .nav-contact a {
  background-color: #ffd200;
  border-radius: 10px;
  color: #212121;
  display: inline-block;
  margin: -7px 0 0 0;
  padding: 0.5em 10%;
  position: relative;
  white-space: nowrap;
}
#principal #nav .nav-contact a:before {
  border-top: 2px dotted #212121;
  bottom: 24%;
  content: '';
  left: 10%;
  margin: 0 20px;
  position: absolute;
  width: 62%;
}
#principal #nav .nav-contact a:hover {
  text-decoration: none;
}
#principal #nav .nav-log .box-border {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  left: 35%;
  margin: -6px 0 0 0;
  position: relative;
  width: 27px;
}
#principal #nav .nav-log .box-border svg {
  cursor: pointer;
  left: -9px;
  padding-top: 12px;
  position: absolute;
}
#principal #nav .nav-log .box-border svg line {
  display: inline-block;
  stroke: #000;
  stroke-width: 1.5px;
}
#principal #nav .nav-menu {
  padding: 0.3em 0 0 0;
}
#principal #nav .nav-menu svg {
  border-bottom: 1.5px solid #000;
  border-top: 1px solid #000;
  cursor: pointer;
  margin: 0 0 0 25%;
  padding-top: 8px;
}
#principal #nav .nav-menu svg line {
  stroke: #000;
  stroke-width: 1.5px;
}
#principal #nav .nav-title {
  font-weight: bold;
  padding: 0;
}
#principal #nav .nav-title p {
  color: #000;
  font-size: 20px;
  white-space: nowrap;
}
#principal #nav .nav-title p img {
  height: 19px;
  position: relative;
  top: -2px;
  width: 19px;
}
#ready-solutions {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
#ready-solutions .solutions {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  overflow-x: auto;
  position: relative;
  z-index: 0;
}
#ready-solutions .solutions .solution {
  background: #ffd200;
  border-radius: 7px;
  height: 420px;
  margin-left: 100px;
  min-width: 314px;
  text-align: center;
  width: 314px;
}
#ready-solutions .solutions .solution:first-child {
  margin: 0;
}
#ready-solutions .solutions .solution p {
  font-size: 1.3em;
  margin: 3% 0 0 0;
}
#ready-solutions .solutions .solution p span {
  font-size: 0.8em;
}
#ready-solutions .solutions .solution .solution-title {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 118px;
  position: relative;
  width: 100%;
}
#ready-solutions .solutions .solution .solution-title h4 {
  font-size: 2em;
  margin: 0;
  position: absolute;
  width: 100%;
}
#ready-solutions .solutions .solution .solution-title h4 span {
  font-size: 1.2em;
}
#ready-solutions .solutions .solution .content {
  background: #fff;
  font-size: 1.3em;
  height: 255px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  width: 96%;
}
#ready-solutions .solutions .solution .content ul {
  list-style: none;
  margin-left: 9%;
  margin-top: 5%;
  text-align: left;
}
#ready-solutions .solutions .solution .content ul li {
  position: relative;
  margin-bottom: 0.4em;
}
#ready-solutions .solutions .solution .content ul li::before {
  background-image: url("/imgs/minis/list.png");
  background-size: cover;
  content: '';
  display: inline-block;
  height: 20px;
  position: absolute;
  left: -35px;
  width: 20px;
}
#ready-solutions .solutions .solution .content .price {
  bottom: 2%;
  font-size: 3em;
  position: absolute;
  width: 100%;
}
#ready-solutions .title {
  position: absolute;
  top: 17%;
}
#ready-solutions .title h3 {
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}
#ready-solutions .title h3::first-letter {
  font-size: 1.3em;
}
#testimonials {
  background: #f7f0e6;
  overflow: hidden;
  position: relative;
}
#testimonials .bg-img {
  background-position: center;
  background-size: cover;
  height: 100%;
  position: absolute;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  width: 100%;
}
#testimonials .btn {
  background-color: transparent;
  border: 1px solid rgba(33,33,33,0.3);
  bottom: 5%;
  font-size: 1.3em;
  left: 17%;
  padding: 0.7em 1.7em;
  position: absolute;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#testimonials .btn:hover {
  border: 1px solid rgba(13,13,13,0.2);
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
#testimonials .testimonial {
  margin-left: 10%;
  overflow: hidden;
  position: absolute;
}
#testimonials .testimonial h3 {
  font-size: 3em;
  letter-spacing: 5px;
  margin-bottom: 1em;
  margin-top: 0.5em;
}
#testimonials .testimonial h3::first-letter {
  font-size: 1.4em;
}
#testimonials .testimonial .owner-info {
  position: relative;
  height: 186px;
}
#testimonials .testimonial .owner-info h4,
#testimonials .testimonial .owner-info h5 {
  left: 35%;
  position: relative;
  top: 30%;
  vertical-align: center;
}
#testimonials .testimonial .owner-info h4 {
  font-size: 1.6em;
}
#testimonials .testimonial .owner-info h4 span {
  font-size: 1.3em;
}
#testimonials .testimonial .owner-info h5 {
  font-size: 1.3em;
}
#testimonials .testimonial .owner-info .owner-pic {
  background-size: cover;
  border-radius: 50%;
  height: 166px;
  position: absolute;
  width: 166px;
}
#testimonials .testimonial .texto {
  min-height: 137px;
  min-width: 500px;
  overflow: auto;
  width: 500px;
}
#testimonials .testimonial .next-testimonial {
  display: inline-block;
  position: relative;
}
#testimonials .testimonial .next-testimonial a {
  color: #000;
  padding-right: 3em;
}
#testimonials .testimonial .next-testimonial a:hover {
  text-decoration: none;
}
#testimonials .testimonial .next-testimonial a svg {
  cursor: pointer;
  padding-top: 12px;
  position: absolute;
  right: 0px;
}
#testimonials .testimonial .next-testimonial a svg line {
  display: inline-block;
  stroke: #000;
  stroke-width: 1.5px;
}
@media only screen and (max-width: 700px) {
  #information .solutions {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-x: auto;
    width: 98%;
  }
  #information .solutions .margined {
    margin: 0 40px;
  }
  #information .solutions .solution {
    height: 250px;
    min-height: 250px;
    min-width: 260px;
    width: 310px;
  }
  #information .solutions .solution .content {
    border-top: 4px solid #fff;
    font-size: 1em;
    height: 187px;
    padding: 1.6em;
  }
  #information .solutions .solution p span {
    font-size: 1em;
  }
  #information .solutions .solution .title {
    height: 46px;
  }
  #information .solutions .solution .title h4 {
    font-size: 1.5em;
    letter-spacing: 3px;
  }
  #information .solutions .solution .title h4::first-letter {
    font-size: 1.1em;
  }
  #information .btn-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #information .btn-container .btn {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  #adventages .btn {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  #adventages .content .adventage {
    height: 300px;
    min-width: 200px;
    width: 210px;
  }
  #adventages .content .adventage img {
    height: 160px;
    width: 160px;
  }
  #adventages .content .adventage h4 {
    font-size: 1.2em;
  }
  #adventages .content .adventage p {
    font-size: 0.9em;
  }
  #page-options .options .option {
    height: 205px;
  }
  #principal .home {
    top: 5%;
  }
  #principal .home h1 {
    font-size: 2em;
  }
  #principal .home h3 {
    top: 17%;
  }
  #principal .home .btn {
    top: 25%;
  }
  #principal #nav .nav-contact {
    left: -2%;
  }
  #ready-solutions {
    padding-top: 5em;
  }
  #ready-solutions .solutions .solution {
    border-radius: 5px;
    height: 320px;
    min-width: 264px;
    width: 264px;
  }
  #ready-solutions .solutions .solution .solution-title {
    height: 68px;
  }
  #ready-solutions .solutions .solution .solution-title h4 {
    font-size: 1.6em;
  }
  #ready-solutions .solutions .solution .solution-title h4 span {
    font-size: 1.1em;
  }
  #ready-solutions .solutions .solution .content {
    height: 205px;
  }
  #ready-solutions .solutions .solution .content ul li {
    margin-bottom: 0.2em;
  }
  #ready-solutions .solutions .solution .content .price {
    bottom: 1%;
    font-size: 2em;
  }
  #testimonials .btn {
    bottom: 1%;
    left: 12%;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  #testimonials .testimonial h3 {
    font-size: 2em;
  }
  #testimonials .testimonial .owner-info h4,
  #testimonials .testimonial .owner-info h5 {
    left: 2%;
    top: 65%;
  }
  #testimonials .testimonial .owner-info h4 {
    font-size: 1.2em;
  }
  #testimonials .testimonial .owner-info h4 span {
    font-size: 1.4em;
  }
  #testimonials .testimonial .owner-info h5 {
    font-size: 1em;
  }
  #testimonials .testimonial .owner-info .owner-pic {
    height: 106px;
    width: 106px;
  }
  #testimonials .testimonial .texto {
    max-height: 110px;
    min-width: 300px;
    width: 300px;
  }
}
@media only screen and (max-width: 400px) {
  #adventages h3 {
    font-size: 1.2em;
  }
  #adventages .btn {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  #adventages .content .adventage {
    height: 300px;
    min-width: 200px;
    width: 210px;
  }
  #adventages .content .adventage img {
    height: 160px;
    width: 160px;
  }
  #adventages .content .adventage h4 {
    font-size: 1.2em;
  }
  #adventages .content .adventage p {
    font-size: 0.9em;
  }
  #principal .home h1 {
    font-size: 2em;
  }
  #principal #nav {
    font-size: 0.8em;
  }
  #principal #nav .nav-contact {
    top: 7px;
    left: -3px;
  }
  #principal #nav .nav-log {
    left: -2px;
  }
}
@media only screen and (max-height: 500px) and (orientation: landscape) {
  #adventages h3 {
    font-size: 1.2em;
    margin-top: -2px;
  }
  #adventages .btn {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  #adventages .content {
    margin: 0 5%;
    margin-bottom: -20px;
    margin-top: -5px;
    width: 90%;
  }
  #adventages .content .adventage {
    height: 220px;
    min-width: 150px;
    width: 160px;
  }
  #adventages .content .adventage img {
    height: 80px;
    width: 80px;
  }
  #adventages .content .adventage h4 {
    font-size: 0.8em;
  }
  #adventages .content .adventage p {
    font-size: 0.7em;
  }
}
